<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <!-- TAG Do MEU SITE-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Página de contato da EstetickElite, empresa especializada em estética automotiva. Entre em contato conosco para agendar serviços de qualidade e excelência.">
    <meta name="keywords" content="fale conosco, estética automotiva, agendamento, serviços de estética, EstetickElite">
    <meta name="author" content="Samantha Antonella, Antonellawy, samanthaantonella680@gmail.com, 11 97408-9370">
    <title>Fale Conosco</title>
    <link rel="icon" type="image/png" href="../favicon.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/faleconosco.css">
</head>

<body>
    <header>
        <div class="container header-estetick">
            <div class="header-container">

                <!-- LOGO -->
                <a href="/index.html" class="logo-estetick">
                    <img src="../static/img/logo.png" alt="Logo EstetickElite">

                    <span>
                        Estetick<span>Elite</span>
                    </span>
                </a>

                <!-- MENU -->
                <nav>
                    <ul class="nav-estetick">

                        <li>
                            <a href="../index.html">
                                Home
                            </a>
                        </li>

                        <li>
                            <a href="cadastro.html">
                                Cadastro
                            </a>
                        </li>

                        <li>
                            <a href="agendamento.html">
                                Agendamento
                            </a>
                        </li>

                        <li>
                            <a href="faleconosco.html" class="active">
                                Fale conosco
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- BOTÕES -->
                <div class="botoes-header">
                    <a href="cadastro.html" class="btn-cadastrar">

                        Cadastrar

                    </a>
                    <a href="login.html" class="btn-agendar">
                        Fazer Login
                    </a>
                </div>

            </div>
        </div>
    </header>


    <main class="container contato">
        <div class="text-center mb-5">
            <h1>Fale Conosco</h1>
            <p style="color: #ffffff;">
                Entre em contato com a EstetickElite.
                Estamos prontos para atender você.
            </p>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../static/img/atendimentoonline.jpg" class="d-block w-100" alt="atendimento1">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/img/atendimento1.jpg" class="d-block w-100" alt="atendimento2">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/img/clientes.jpg" class="d-block w-100" alt="atendimento3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>

            <div class="row g-4 d-flex ">

                <!-- INFORMAÇÕES -->

                <div class="col-12 order-1 order-md-0 col-md-5">
                    <div class="contato-card">

                        <h4>EstetickElite</h4>

                        <p>
                            Cuidado, qualidade e atenção em cada detalhe.
                        </p>

                        <hr style="border-color: #333333;">

                        <h5 style="color: #d4af37;">
                            Telefone
                        </h5>

                        <p>
                            (11) 99999-9999
                        </p>

                        <h5 style="color: #d4af37;">
                            E-mail
                        </h5>

                        <p>
                            EstetickElite@gmail.com
                        </p>

                        <h5 style="color: #d4af37;">
                            Atendimento
                        </h5>

                        <p>
                            Entre em contato para consultar
                            nossos horários disponíveis.
                        </p>

                    </div>

                </div>
                <!-- FORMULÁRIO -->
                <div class="col-12 order-0 order-md-1 col-md-7">

                    <div class="contato-card">

                        <h4 class="mb-4">
                            Fale com a gente !
                        </h4>

                        <form>

                            <div class="mb-3">

                                <label class="form-label">
                                    NOME
                                </label>

                                <input type="text" class="form-control" placeholder="Seu nome" required>

                            </div>

                            <div class="mb-3">

                                <label class="form-label">
                                    E-MAIL
                                </label>

                                <input type="email" class="form-control" placeholder="Seu e-mail" required>

                            </div>

                            <label for="assunto">Assunto da Mensagem:</label>
                            <select id="assunto" name="assunto" required>
                                <option value="" disabled selected>Selecione o assunto...</option>

                                <!-- Reclamações e Qualidade -->
                                <option value="insatisfacao-servico">Insatisfação com um serviço realizado</option>
                                <option value="dano-veiculo">Relatar problema </option>
                                <option value="atraso-entrega">Atraso na entrega do veículo</option>

                                <!-- Financeiro e Pagamentos -->
                                <option value="duvida-pagamento">Dúvidas sobre formas de pagamento e parcelamento
                                </option>
                                <option value="problema-faturamento">Problema com cobrança, nota fiscal ou comprovante
                                </option>
                                <option value="solicitacao-estorno">Solicitação de reembolso ou estorno</option>

                                <!-- Agendamentos e Suporte -->
                                <option value="reagendamento-cancelamento">Reagendar ou cancelar um horário</option>
                                <option value="garantia">Dúvidas sobre garantia de serviços (Ex: Vitrificação/PPF)
                                </option>
                                <option value="atendimento-suporte">Elogios, sugestões ou atendimento geral</option>

                                <option value="outro">Outro assunto administrativo</option>
                            </select>

                            <div class="mb-4">

                                <label class="form-label"></br>
                                    ASSUNTO SOBRE O SERVIÇO PRESTADO :
                                </label>

                                <textarea class="form-control" rows="5" placeholder="Digite sua mensagem"
                                    required></textarea>

                            </div>

                            <button type="submit" class="btn btn-estetick w-50">
                                Enviar
                            </button>

                        </form>

                    </div>

                </div>

            </div>
        </div>
    </main>

    <footer>
        <div class="footer-estetick">
            <div class="container footer-container">

                <div class="d-flex flex-wrap justify-content-between align-items-center py-4">

                    <!-- COPYRIGHT -->
                    <p class="col-md-4 mb-0 copyright">
                        © 2026 EstetickElite. Todos os direitos reservados.
                    </p>

                    <!-- LOGO -->
                    <a href="./index.html"
                        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 logo-footer">

                        <img src="../static/img/logo.png" alt="Logo EstetickElite" width="40" height="40" class="me-2">

                        Estetick<span>Elite</span>
                    </a>

                    <!-- MENU -->
                    <ul class="nav col-md-4 justify-content-end nav-estetick">

                        <!-- HOME -->
                        <li class="nav-item">
                            <a href="/index.html" class="nav-link px-2 active">
                                Home
                            </a>
                        </li>

                        <!-- CADASTRO -->
                        <li class="nav-item">
                            <a href="cadastro.html" class="nav-link px-2 ">
                                Cadastro
                            </a>
                        </li>

                        <!-- AGENDAMENTO -->
                        <li class="nav-item">
                            <a href="agendamento.html" class="nav-link px-2 ">
                                Agendamento
                            </a>
                        </li>

                        <!-- FALE CONOSCO -->
                        <li class="nav-item">
                            <a href="faleconosco.html" class="nav-link px-2 ">
                                Fale conosco
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- FRASE DA EMPRESA -->
                <div class="text-center py-3 linha-dourada">
                    <small style="color: #d4af37;">
                        Estética automotiva com qualidade e excelência.
                    </small>
                </div>

            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
        </script>
    <script src="./static/js/script.js"></script>

</body>

</html>